<h1>Seja Bem-Vindo</h1>
<p>
  Carlos Lima Kvasir
</p>
<p> Meu nome ao contrario é: <%= "Carlos".reverse %> </p>

<% var_a = "Minha váriavel a" %>
<p>Imprimindo a variavel a: <%= var_a %></p>
<p>A data de hoje é: <%= Date.today %></p>